* {
    margin: 0;
    padding: 0;
}
/*==Style cơ bản cho website==*/
body {
    font-family: sans-serif;
    color: #333;
}

/* header */
.header {
    height: 61px;
}

.header .navbar {
    height: 61px;
}


nav .navbar-brand {
    margin: 0;
    padding-left: 124.6px;
    padding-right: 195.1px;
}

ul .form-control {
    height: 34px;
    align-items: center;
    font-size: 14px;
    padding-left: 14px;
    min-width: 80px;
    width: 530px;
    padding-right: 21px;
    margin-top: 8px;
}

.nav-item .nav-link {
    padding-top: 10px;
}

ul li {
    padding-left: 0px;
}

/* Menu */
.menu {
    height: 41.8px;
    background-color: hsl(196, 72%, 31%);
    margin: 0 auto;
}

/*==Style cho menu===*/
.menu {
    top: 61px;
    width: 100%;
    height: 41.8px;
}

.menu ul {
    background: hsl(196, 72%, 31%);
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding-left: 109.6px;
    display: flex;
    overflow-y: auto;
}
.menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 41.8px;
    line-height: 41.8px;
}
.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
}
.menu a:hover {
    background: #F1F1F1;
    color: #333;
}
/* js */

.menudilen {
    position: fixed;
    top: 0;
    z-index: 1;
}

/* main */
.main-page {
    width:100%;
    height:100%;
    display:box;
    box-orient:horizontal;
    box-pack:center;
    box-align:center;

}

.col-left {
    width: 20%;
    height: 100%;
    background-color: white;
    margin-right: 10px;
}

.col-main {
    width: 55%;
    height: 100%;
    background-color: white;
}

.col-right {
    width: 20%;
    height: 100%;
    background-color: white;
    padding: 20px;
}

.widget-content .infocard img {
    height: 40px;
    width: 40px;
}

.widget-content {
    height: 41.8px;
}

.widget-header {
    height: auto;
}

.widget-content .avtleft {
    width: 50px;
    float: left;
}

.widget-content .info-widget {
    float: left;
    padding-left: 20px;
    top: 0;
}

.widget-content .avtleft img {
    height: 50px;
    width: 50px;
    padding-top: 0px;   
    cursor: pointer;
}

.user-info a {
    font-size: 14px;
}

/* main */

.status {
    margin-top: 10px;
}

.nav-status {
    font-weight: 500;
    color: black;
    background-color: #f2f6f9;
    height: 34.8px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border-radius: 10px 10px 0 0;
}

.nav-status .name12 {
    color: black;
    text-align: center;
    padding-left: 10px;
}

.nav-status .search-button {
    margin: 0;
    float: right;
    padding-right: 10.5px;
}

.form-group .form-control {
    border-radius: 0 0 10px 10px;
    height: 114px;
}

/* modal */

.modal-dialog {
    height: 800px;
}

.modal {
    height: auto;
    width: 569.6px;
    text-align: center;
}

.modal-header {
    text-align: center;
}

.modal-body .load-img {
    height: 300px;
    width: 100%;
    padding-top: 110px;
}

.modal-body {
    background-color: gray;
    margin: 0;
    padding: 0;
}

.modal-footer .title-status {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.modal-footer .content-status {
    height: 100px;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

/* bai post */

.content-post {
    border: 1px solid rgba(206,212,218,.7);
    border-radius: .25rem;
    height: auto;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 1px;
    margin-right: 1px;
}

.img-post img {
    width: 100%;
    height: auto;
    border-radius: .25rem .25rem 0 0;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.info-post {
    height: 65px;
}

.info-post a img{
    width: 40px;
    height: 40px;
    margin-top: 9px;
    margin-left: 10.5px;
    float: left;
}

.info-post span a {
    float: left;
    padding-left: 10px;
}

.body-post p {
    box-sizing: border-box;
    display: block;
    margin: 10px;
    margin-bottom: 0;
}

.modal-header-post img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.number-like-cmt {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    display: block;
}

.col-sm button {
    border: 0;
    background-color: white;
}

/* comment */

.comments .container {
    margin: 10px 0 10px 0;
}

.avt-cmt img{
    width: 25px;
    height: 25px;
}

.col-sm-1 img {
    margin: 10px;
}

.col-sm-8 {
    background-color: #f2f6f9;
    width: auto;
    border-radius: 1em 1em 1em 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.col-sm-8 p {
    margin: 0;
    width: auto;
}

.col-sm-8 a {
    font-size: 12px;
}

.col-sm-8 img {
    float: right;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.cmt-box img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.col-sm-1.avt-cmt {
    padding: 0;
}

.send img {
    height: 30px;
    width: 30px;
}

.send {
    border: 0;
}

#more {
    display: none;
}

.footer {
    background-color: #166986;
    height: 50px;
}

/* responsive website */

/* tablet */

@media screen and (max-width: 768px) {
    .col-left {
        display: none;
    }
    .footer {
        display: none;
    }

    .col-right {
        display: none;
    }

    .col-main {
        max-width: 100%;
    }
    .main-page .row {
        margin-left: 0;
        margin-right: 0;
    }

    .send {
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .row {
        margin: 0;
        width: 90%;
    }

    .col-main {
        max-width: 100%;
    }

    .main-page .row {
        margin-left: 0;
        margin-right: 0;
    }
    .send {
        text-align: center;
    }
    .col-left {
        display: none;
    }
    .footer {
        display: none;
    }

    .col-right {
        display: none;
    }
}

/* mobile */

@media screen and (max-width: 414px) {
    .row {
        margin: 0;
        width: 90%;
    }

    .col-main {
        max-width: 100%;
    }

    .main-page .row {
        margin-left: 0;
        margin-right: 0;
    }
    .send {
        text-align: center;
    }
}