.main-page-friend {
    margin: 40px 40px;
}

.items {
    display: flex;
    flex-wrap: nowrap;
}

.items .item {
    width: 50%;
    height: 100px;
    padding: 10px 10px;
    /* border: 1px solid #EEE; */
}
.items .item .main-item {
    width: 100%;
    height: 100%;
    border: 1px solid #EEE;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.main-page-friend .items .item .main-item .name {
    flex-grow: 1;
}
.main-page-friend .items .item .main-item .button {
    margin: 0 20px;
    border: 1px solid #DDD;
    /* background-color: white; */
    border-radius: 5px;
}
.main-page-friend .items .item .main-item .image {
    margin: 0 20px;
    border-radius: 50%;
}
.main-page-friend .items .item .main-item .image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main-top {
    display: flex;
    justify-content: space-between;
}

.main-top .search {
    /* flex-grow: 1; */
    /* margin-right: -0px; */
}
.main-top .title h5 {
    border-bottom: 3px solid rgb(16, 144, 230);
}