
.banner {
	width: 	100%;
	height: 350px;
	position: relative	;	
	background-image: url("../public/hinh-nen-facebook-dep.jpg");
}

.banner .img-cover {
	width: 	100%;
	background-color: #DDD;
	height: 100%;
}
.banner .img-user {
	width: 	280px;
	background-color: #EEE;
	height: 65%;	
	position: absolute;
	left: 5%;
	top: 0;	
	text-align: center;
	box-shadow: 5px 5px 5px 0.5px rgba(0,0,0,0.2);
}
.banner .img-user .avatar {
	display: inline-block;
	width: 140px;
	height: 140px;
	/*background-color: red;*/
	margin: 10px;
	border-radius: 50%;
}
.avatar img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.nav-user {
	background-color: #f2f6f9;
	/* padding-left: 50px; */
	
}
.mr-20 {
	margin-right: 5px;
}
.nav-user a {
	color: #166986;
}

.nav-user .nav .active a{
	color: #343a40;
	background-color: #fff;
}

@media screen and (max-width: 992px) {
	.banner .img-user {
		/* left: 50%;
		transform: translate(-50%, 0); */
		background-color: transparent;
		box-shadow: none;
		position: relative;
		margin-top: -80px;
		margin-left: auto;
		margin-right: auto;
		/* margin-bottom: 80px; */
		width: 100%;
		height: auto;
	}
	.nav-user {
		margin-top: 150px;
	}
}