* {
    margin: 0;
    padding: 0;
}
/*==Style cơ bản cho website==*/
body {
    font-family: sans-serif;
    color: #333;
}

/* header */
.header {
    height: 61px;
}

.header .navbar {
    height: 61px;;
}


nav .navbar-brand {
    margin: 0;
    padding-left: 124.6px;
    padding-right: 100px;
}

ul .form-control {
    height: 34px;
    align-items: center;
    font-size: 14px;
    padding-left: 14px;
    min-width: 80px;
    width: 530px;
    padding-right: 21px;
    margin-top: 8px;
}

.nav-item .nav-link {
    padding-top: 10px;
}

ul li {
    padding-left: 0px;
}

/* Menu */
.menu {
    height: 41.8px;
    background-color: hsl(196, 72%, 31%);
    margin: 0 auto;
}

/*==Style cho menu===*/
.menu {
    top: 61px;
    width: 100%;
    height: 41.8px;
}

.menu ul {
    background: hsl(196, 72%, 31%);
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding-left: 109.6px;
    display: flex;
    overflow-y: auto;
}
.menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 41.8px;
    line-height: 41.8px;
}
.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
}
.menu a:hover {
    background: #F1F1F1;
    color: #333;
}
/* js */

.menudilen {
    position: fixed;
    top: 0;
    z-index: 1;
}
#more {
    display: none;
}

.footer {
    background-color: #166986;
    height: 50px;
}

.title{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:15px !important;
  }
  
  p{
    font-size:18px;
  }
  
  .main-page {
    padding: 20px;
    font-family: sans-serif;
    background: #f2f2f2;
  }
.child-page-listening img {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
  
  
  /* hover styles */
  .location-listing {
    position: relative;
  }
  
  .location-image {
    line-height: 0;
    overflow: hidden;
  }
  
  .location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .location-title {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: rgb(255, 255, 255);
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-listing:hover .location-title {
    opacity: 1;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
  }
  
  
  /* for touch screen devices */
  @media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }