* {
    margin: 0;
    padding: 0;
}
/*==Style cơ bản cho website==*/
body {
    font-family: sans-serif;
    color: #333;
}

/* header */
.header {
    height: 61px;
}

.header .navbar {
    height: 61px;;
}


nav .navbar-brand {
    margin: 0;
    padding-left: 124.6px;
    padding-right: 100px;
}

ul .form-control {
    height: 34px;
    align-items: center;
    font-size: 14px;
    padding-left: 14px;
    min-width: 80px;
    width: 530px;
    padding-right: 21px;
    margin-top: 8px;
}

.nav-item .nav-link {
    padding-top: 10px;
}

ul li {
    padding-left: 0px;
}

/* Menu */
.menu {
    height: 41.8px;
    background-color: hsl(196, 72%, 31%);
    margin: 0 auto;
}

/*==Style cho menu===*/
.menu {
    top: 61px;
    width: 100%;
    height: 41.8px;
}

.menu ul {
    background: hsl(196, 72%, 31%);
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding-left: 109.6px;
    display: flex;
    overflow-y: auto;
}
.menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 41.8px;
    line-height: 41.8px;
}
.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
}
.menu a:hover {
    background: #F1F1F1;
    color: #333;
}
/* js */

.menudilen {
    position: fixed;
    top: 0;
    z-index: 1;
}

#more {
    display: none;
}

.footer {
    background-color: #166986;
    height: 50px;
}
.main-page{
    width:100%;
    height: auto;
}
.banner {
    height: 30vw;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(../public/explore/HCM-banner.jpg);
  }

  .banner-text {
    text-align: center;
    text-shadow:-1px 0 black, 0 1px black,      1px 0 black, 0 -1px black;
    position: absolute;
    height:auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media screen and (max-width: 768px) {
    
    }

  .content{
      width: 80%;
      height:auto;
      padding:20px;
      margin: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .location-image{
    text-align: center;
  }
  img {
    border-radius: 8px;
  }
  .location-image img{
      width:100%;
      max-width: 600px;
      height: auto;
  }