.main-page-intro .col-main {
	border-left: 1px solid #DDD;
}

/*.avatar img {
	width: 100px;
}*/

/* .nav-user .nav .active {
	color: black;
} */

.main-page-intro h3{
	padding-left: 40px;
	margin-top: 40px;
}
.main-page-intro a{
	color: #166986;
}
.main-page-intro  a.active{
	color: #343a40;
}